@page "/passo01"

@using ModeloPortalAgoraBlazor.Dtos
@using ModeloPortalAgoraBlazor.State
@using Microsoft.AspNetCore.Components
@using System.Reflection.Emit
@using System.Text.Json.Serialization
@inject HttpClient Http

<PageTitle>Counter</PageTitle>

<HeadPasso01/>

<section class="my-6">

    <EditForm OnValidSubmit="Submit" Model="@Model" class="my-6">
        <DataAnnotationsValidator/>
        <div class="grid grid-cols-1 md:grid-cols-4 gap-1 md:gap-4 m-0 md:mt-6">
            <TextInput Type="text" @bind-Value="@Model.NomeUsuario" TypeMask="@TypeMask.numeric" ToolTipText="Coloca aí alguma coisa grande para parecer importante" />
            <TextInput Type="text" @bind-Value="@Model.Cnpj" Mask="00.000.000/0000-00" TypeMask="TypeMask.text"/>
            <TextInput Type="email" @bind-Value="@Model.Email"/>
            <SelectInput @bind-Value="@Model.Estado" ToolTipText="Coloca aí alguma coisa grande para parecer importante">
                @if (Bancos == null)
                {
                    <option value="">Carregando dados...</option>
                }
                else
                {
                    <option value="">Selecione um banco</option>
                    @foreach (var banco in Bancos)
                    {
                        <option value="@banco.value">@banco.label</option>
                    }
                }
            </SelectInput>
        </div>

        <button type="submit"
                class="h-12 px-8 mw-60 bg-primary hover:bg-primaryLight outline-none rounded-full transition-all ease-in-out">
            Salvar111
        </button>
    </EditForm>
    <div className='flex flex-row justify-between'>
        <ButtonInput Type="@TypeButton.reset" Color="ColorButton.secondary" Size="SizeButton.small" Disabled="true">Secondary</ButtonInput>
        <ButtonInput Type="@TypeButton.reset" Color="ColorButton.outlinePrimary" Size="SizeButton.small">Outline primary</ButtonInput>
        <ButtonInput Type="@TypeButton.reset" Color="ColorButton.outlineSecondary" Size="SizeButton.small">Outline secondary</ButtonInput>
    </div>

</section>

@code {
    public Passo01 Model = new Passo01();

    private SelectData[]? Bancos;

    protected override async Task OnInitializedAsync()
    {
        Bancos = await Http.GetFromJsonAsync<SelectData[]>("data/Bancos.json");
    }

    [Inject]
    public ClienteState State { get; set; }

    protected override void OnInitialized()
    {
        if (State == null)
        {
            State = new ClienteState();
        }
    }

    public void Submit()
    {
        StateHasChanged();
    }

    public class SelectData
    {
        [JsonPropertyName("value")]
        public string? value { get; set; }

        [JsonPropertyName("label")]
        public string? label { get; set; }
    }

}