@page "/passo01"

@using ModeloPortalAgoraBlazor.State
@using Microsoft.AspNetCore.Components
@using System.Text.Json.Serialization
@inject NavigationManager NavigationManager

<PageTitle>Counter</PageTitle>

<HeadPasso01/>
<div>
    <EditForm OnValidSubmit="Submit" Model="@Model" class="my-6">
        <section class="my-6">
            <TitleSeparator Label="Informações Iniciais"/>
            <DataAnnotationsValidator/>
            <div class="grid grid-cols-1 md:grid-cols-4 gap-1 md:gap-4 m-0 md:mt-6">
                <TextInput @bind-Value="@Model.NomeUsuario" ToolTipText="Também denominado login, é a sua identificação para entrar no Portal. Deverá ser usado, juntamente com a sua senha, sempre que você visitar o Portal ou quiser iniciar uma transação através da Ágora."/>
                <SelectInput @bind-Value="@Model.PrincipalAtividade">
                    <option value="">Selecione um banco</option>
                    <option value='Banco múltiplo'>Banco múltiplo</option>
                    <option value='Banco de investimentos'>
                        Banco de investimentos
                    </option>
                    <option value='Bolsa de valores e mercadorias'>
                        Bolsa de valores e mercadorias
                    </option>
                    <option value='Clube de investimentos'>
                        Clube de investimentos
                    </option>
                </SelectInput>
                <TextInput @bind-Value="@Model.Telefone" Mask="(00) 0000-0000" TypeMask="TypeMask.text"/>
                <NumberInput @bind-Value="@Model.Ramal" MaxNumberValue="999" TypeMask="TypeMask.numeric"/>
                <TextInput @bind-Value="@Model.Email"/>
                <TextInput @bind-Value="@Model.ConfirmarEmail"/>
            </div>
        </section>

        <section class="my-6">
            <TitleSeparator Label="Informações empresariais"/>
            <div class="grid grid-cols-1 md:grid-cols-4 gap-1 md:gap-4 m-0 md:mt-6">
                <TextInput @bind-Value="@Model.Cnpj" Mask="00.000.000/0000-00" TypeMask="TypeMask.text"/>
                <TextInput @bind-Value="@Model.DenominacaoComercial" ColSpan="3"/>
                <DateInput @bind-Value="@Model.DataConstituicao" Mask="00/00/0000"/>
                <TextInput @bind-Value="@Model.FormaConstituicao" ColSpan="3"/>
                <TextInput @bind-Value="@Model.Nire"/>

                <SelectInput @bind-Value="@Model.PrincipalObjetoSocial">
                    <option value="">Selecione uma atividade</option>
                    <option value='Banco múltiplo'>Banco múltiplo</option>
                    <option value='Banco de investimentos'>
                        Banco de investimentos
                    </option>
                    <option value='Bolsa de valores e mercadorias'>
                        Bolsa de valores e mercadorias
                    </option>
                    <option value='Clube de investimentos'>
                        Clube de investimentos
                    </option>
                </SelectInput>
                
                <SelectInput @bind-Value="@Model.PrincipalAtividade">
                    <option value="">Selecione uma atividade</option>
                    <option value='Banco múltiplo'>Banco múltiplo</option>
                    <option value='Banco de investimentos'>
                        Banco de investimentos
                    </option>
                    <option value='Bolsa de valores e mercadorias'>
                        Bolsa de valores e mercadorias
                    </option>
                    <option value='Clube de investimentos'>
                        Clube de investimentos
                    </option>
                </SelectInput>
                
                <SelectInput @bind-Value="@Model.PrincipalObjetivoComercial">
                    <option value="">Selecione uma atividade</option>
                    <option value='Banco múltiplo'>Banco múltiplo</option>
                    <option value='Banco de investimentos'>
                        Banco de investimentos
                    </option>
                    <option value='Bolsa de valores e mercadorias'>
                        Bolsa de valores e mercadorias
                    </option>
                    <option value='Clube de investimentos'>
                        Clube de investimentos
                    </option>
                </SelectInput>
                
                
                <TextInput @bind-Value="@Model.Cep" Mask="00.000-000" TypeMask="TypeMask.text"/>
                <TextInput @bind-Value="@Model.Numero" />
                <TextInput @bind-Value="@Model.Endereco" ColSpan="2"/>
                <TextInput @bind-Value="@Model.Complemento"/>
                <TextInput @bind-Value="@Model.Bairro"/>
                <TextInput @bind-Value="@Model.Estado"/>
                <TextInput @bind-Value="@Model.Cidade"/>
            </div>
            <div class="flex flex-row justify-between">
                <ButtonInput Type="@TypeButton.button" OnClick="BackToDashBoard" Color="ColorButton.secondary" Size="SizeButton.normal">Cancelar</ButtonInput>
                <ButtonInput Type="@TypeButton.submit" Color="ColorButton.secondary" Size="SizeButton.normal">Avançar</ButtonInput>
            </div>


        </section>
    </EditForm>
</div>

@code {
    public Passo01 Model = new Passo01();

    [Inject]
    public ClienteState State { get; set; }

    protected override void OnInitialized()
    {
        if (State == null)
        {
            State = new ClienteState();
        }
    }

    private void BackToDashBoard()
    {
        NavigationManager.NavigateTo("/");
    }
    
    private void Submit()
    {
        NavigationManager.NavigateTo("/passo02");
    }

    public class SelectData
    {
        [JsonPropertyName("value")]
        public string? value { get; set; }

        [JsonPropertyName("label")]
        public string? label { get; set; }
    }

}